.footer{
    width: 100%;
    margin: 0;
}

.footer__container{
padding: 2rem 20rem;

}

.footer__logoImage{
margin: 0rem 19rem;

}

.footer__row{
display:  grid;
grid-template-columns: auto auto auto auto auto;
justify-content: space-between;
grid-gap: 2rem;
}



li{
    list-style: none;
}

.footer__p{
    font-size: .875rem;
    font-weight: 400;
line-height: 1.45;
color: #333;
}

.footer__li{
    margin-bottom: .5rem;
    line-height: 1.45;
    font-size: .875rem;
font-weight: 400;
color: #333;
text-align: left;
}

.footer__br{
    margin: 2rem 0rem;
    border: 1px solid rgb(226, 226, 226);
}

.footer__pcopy{
    text-align: center;
    font-size: 86%;
font-weight: 400;
margin-bottom: 2rem;
}